{% extends "base.html" %}

    {% block content %}

    <div class="container mt-3">
        <h1>Create Medicine Type</h1>
        <form method="post" action="/medicine-type/create">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">MedicineType</label>
              <input type="text" class="form-control" id="typeType" name="MedicineName">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Status</label>
                <input type="text" class="form-control" id="Status" name="status">
              </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/medicine-type" class="btn btn-primary">Back</a>

          </form>
    </div>

    {% endblock %}