{% extends "base.html" %}

    {% block content %}

    <div class="container mt-3">
        <h1>Create Medicine</h1>
        <form method="post" action="/medicine/create">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">GenericName</label>
              <input type="text" class="form-control" id="GenericName" name="GenericName">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">MedicineType</label>
                <input type="text" class="form-control" id="MedicineType" name="MedicineType">
              </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">MarketName</label>
                <input type="text" class="form-control" id="MarketName" name="MarketName">
              </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Route</label>
                <input type="text" class="form-control" id="Route" name="Route">
              </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Potency</label>
                <input type="text" class="form-control" id="Potency" name="Potency">
              </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Status</label>
                <input type="text" class="form-control" id="Status" name="Status">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/admin" class="btn btn-primary">Back</a>

          </form>
    </div>

    {% endblock %}